{% extends "base.html" %}

{% block content %}

<div>
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">TrendBlotter</a>
            <ul>
                <li><a href="#">worldwide</a></li>
                <li><a href="#">north america</a></li>
                <li><a href="#">south america</a></li>
                <li><a href="#">europe</a></li>
                <li><a href="#">africa</a></li>
                <li><a href="#">asia</a></li>
                <li><a href="#">oceania</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.Worldwide.url }}">
                <img src="{{ trends.Worldwide.image_url }}" alt="{{ trends.Worldwide.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.Worldwide.name }}
                <span>
                    via <a href="{{ trends.Worldwide.url }}">{{ trends.Worldwide.source }}</a> / <a href="#">worldwide</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-2-3 blurred-lights">
            <div class="l-box">
                <h1 class="text-box-head">Welcome to <span class="trendblotter-green"><strong>TrendBlotter</strong>.</span></h1>
                <p class="text-box-subhead">This is what's making waves.</p>
            </div>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.United_States.url }}">
                <img src="{{ trends.United_States.image_url }}" alt="{{ trends.United_States.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.United_States.name }}
                <span>
                    via <a href="{{ trends.United_States.url }}">{{ trends.United_States.source }}</a> / <a href="#">united states</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.Canada.url }}">
                <img src="{{ trends.Canada.image_url }}" alt="{{ trends.Canada.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.Canada.name }}
                <span>
                    via <a href="{{ trends.Canada.url }}">{{ trends.Canada.source }}</a> / <a href="#">canada</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.United_Kingdom.url }}">
                <img src="{{ trends.United_Kingdom.image_url }}" alt="{{ trends.United_Kingdom.name }}">
            </a>

            <aside class="photo-box-caption">
            {{ trends.United_Kingdom.name }}
                <span>
                    via <a href="{{ trends.United_Kingdom.url }}">{{ trends.United_Kingdom.source }}</a> / <a href="#">united kingdom</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.Brazil.url }}">
                <img src="{{ trends.Brazil.image_url }}" alt="{{ trends.Brazil.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.Brazil.name }}
                <span>
                    via <a href="{{ trends.Brazil.url }}">{{ trends.Brazil.source }}</a> / <a href="#">brazil</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.Australia.url }}">
                <img src="{{ trends.Australia.image_url }}" alt="{{ trends.Australia.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.Australia.name }}
                <span>
                    via <a href="{{ trends.Australia.url }}">{{ trends.Australia.source }}</a> / <a href="#">australia</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="{{ trends.Russia.url }}">
                <img src="{{ trends.Russia.image_url }}" alt="{{ trends.Russia.name }}">
            </a>

            <aside class="photo-box-caption">
                {{ trends.Russia.name }}
                <span>
                    via <a href="{{ trends.Russia.url }}">{{ trends.Russia.source }}</a> / <a href="#">russia</a>
                </span>
            </aside>
        </div>

    </div>

    <div class="footer">Drunkenly hacked in Iowa.</div>

</div>

<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>

{% endblock content %}
