<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}ripl{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
    
  </head>
  
  <body>

    {% block content %}{# main content area #}{% endblock %}

  </body>

</html>

