{% extends "base.html" %}

{% block content %}

<div>
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">ripl</a>
            <ul>
                <li><a href="#">worldwide</a></li>
                <li><a href="#">north america</a></li>
                <li><a href="#">south america</a></li>
                <li><a href="#">europe</a></li>
                <li><a href="#">africa</a></li>
                <li><a href="#">asia</a></li>
                <li><a href="#">oceania</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1-3 photo-box">
            <a href="http://www.washingtonpost.com/local/police-search-for-active-shooter-on-grounds-of-washington-navy-yard-in-southeast-dc/2013/09/16/b1d72b9a-1ecb-11e3-b7d1-7153ad47b549_story.html">
                <img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/09/16/Local/Images/Was7913428.jpg"
                     alt="Navy Yard Shooting">
            </a>

            <aside class="photo-box-caption">
                Navy Yard Shooting
                <span>
                    via <a href="http://www.washingtonpost.com/local/police-search-for-active-shooter-on-grounds-of-washington-navy-yard-in-southeast-dc/2013/09/16/b1d72b9a-1ecb-11e3-b7d1-7153ad47b549_story.html">The Washington Post</a> / <a href="#">worldwide</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-2-3 blurred-lights">
            <div class="l-box">
                <h1 class="text-box-head">Welcome to <span class="ripl-green"><strong>ripl</strong>.</span></h1>
                <p class="text-box-subhead">This is what's making waves.</p>
            </div>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.wired.com/gamelife/2013/09/grand-theft-auto-v-review/">
                <img src="http://www.wired.com/images_blogs/gamelife/2013/09/20130913GTA013-660x371.jpg"
                     alt="Grand Theft Auto V">
            </a>

            <aside class="photo-box-caption">
                Grand Theft Auto V
                <span>
                    via <a href="http://www.wired.com/gamelife/2013/09/grand-theft-auto-v-review/">Wired</a> / <a href="#">united states</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.rollingstone.com/movies/news/breaking-bad-recap-monster-20130916">
                <img src="http://assets-s3.rollingstone.com/assets/images/story/breaking-bad-recap-monster-20130916/1000x600/bb-600-1379332650.jpg"
                     alt="Breaking Bad">
            </a>

            <aside class="photo-box-caption">
                Breaking Bad
                <span>
                     via <a href="http://www.rollingstone.com/movies/news/breaking-bad-recap-monster-20130916">Rolling Stone</a> / <a href="#">canada</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.independent.co.uk/sport/football/european/champions-league-david-moyes-delighted-to-be-on-the-biggest-stage-ahead-of-manchester-united-v-bayer-leverkusen-8820486.html">
                <img src="http://www.independent.co.uk/incoming/article8820382.ece/ALTERNATES/w460/70-moyesjoy-gt.jpg"
                     alt="Champions League">
            </a>

            <aside class="photo-box-caption">
                Champions League
                <span>
                    via <a href="http://www.independent.co.uk/sport/football/european/champions-league-david-moyes-delighted-to-be-on-the-biggest-stage-ahead-of-manchester-united-v-bayer-leverkusen-8820486.html">The Independent</a> / <a href="#">united kingdom</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.bbc.co.uk/news/world-europe-24121480">
                <img src="http://news.bbcimg.co.uk/media/images/69883000/jpg/_69883444_33e0bdb6-9278-4049-b9c5-0aa3b12cf00c.jpg"
                     alt="Costa Concordia">
            </a>

            <aside class="photo-box-caption">
                Costa Concordia
                <span>
                    via <a href="http://www.bbc.co.uk/news/world-europe-24121480">BBC</a> / <a href="#">brazil</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.techradar.com/us/news/computing/apple/ios-7-12-things-we-want-to-see-1111123">
                <img src="http://cdn2.mos.techradar.futurecdn.net//art/mobile_phones/iPhone/iOS7/EarlyScreenshots/iOS7-Music-03-900-90.JPG"
                     alt="iOS 7">
            </a>

            <aside class="photo-box-caption">
                iOS 7
                <span>
                    via <a href="http://www.techradar.com/us/news/computing/apple/ios-7-12-things-we-want-to-see-1111123">TechRadar</a> / <a href="#">australia</a>
                </span>
            </aside>
        </div>

        <div class="pure-u-1-3 photo-box">
            <a href="http://www.billboard.com/articles/columns/pop-shop/5695556/justin-bieber-raps-shirtless-in-maejor-alis-lolly-video-watch">
                <img src="http://www.billboard.com/files/styles/promo_650/public/media/justin-bieber-juicy-j-lolly-video-650-430.jpg"
                     alt="Lolly">
            </a>

            <aside class="photo-box-caption">
                Lolly
                <span>
                    via <a href="http://www.billboard.com/articles/columns/pop-shop/5695556/justin-bieber-raps-shirtless-in-maejor-alis-lolly-video-watch">Billboard</a> / <a href="#">russia</a>
                </span>
            </aside>
        </div></div>

<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>

{% endblock content %}
